.App {
  text-align: center;
  height: 100%
}

.list {
  margin-bottom: 15px;
}

/*Components and Layout*/

body > #root > div > .full {
  height: 100vh;
}

.Wall {
  float: left;
  width: 33%;
  background-image: linear-gradient(#d2ffb7, #a7ff72);
}

.Post {
  float: left;
  width: 67%;
  background-image: linear-gradient(#f5ffbc, #e7ff5e);
}
